body, .index-app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.index-app {
    display: grid;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    grid-template-rows: 3rem auto 3rem;
    grid-template-columns: 300px auto;

    & > header {
        grid-area: header;
        border-bottom: 1px solid grey;

        .menu {
            display: flex;
            list-style: none;
        }

        .space {
            flex-grow: 1;
        }

        .title h1 {
            font-size: 14pt;
        }
    }

    & > nav {
        grid-area: sidebar;
    }

    & > nav li {
        cursor: pointer;
    }

    & > main {
        grid-area: main;
        background: slategray;
        color: whitesmoke;
        font-family: monospace;
        height: calc(100vh - 3rem - 3rem);
        width: calc(100vw - 300px);
        overflow: auto;
    }

    & > footer {
        grid-area: footer;
        border-top: 1px solid grey;
    }
}

.host-selected span {
    font-weight: bold;
}

.add-model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.7);

    & > div {
        padding: 2rem;
        background: white;
        border: 1px solid black;
    }

    &-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
}
